
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  color: #fff;
  text-align: center;
}

header {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
}

.games {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.games a {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.3s;
}
.games a:hover {
  background: rgba(255, 255, 255, 0.3);
}
